body {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier";
  background-color: #9994ff; /* Correct Purple Background */
  color: #ffffff; /* White text for contrast */
}

#thankyou {
  font-size: 50px;
  margin-bottom: 20px;
}

.rizz {
  margin-bottom: 10px; /* Removed extra space */
}

.button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  font-family: "Courier";
  margin-bottom: 20px;
  background-color: #e67373; /* Soft red for contrast */
  color: #ffffff; /* White text */
  border-radius: 12px;
  border: 2px solid #e67373;
  box-shadow: 1px 1px 2px #9994ff; /* Purple shadow */
  transition: 0.3s;
}

.button:hover {
  background-color: #ffe3e1; /* Light pink on hover */
  color: #9994ff; /* Purple text */
  border: 2px solid #ffe3e1;
  box-shadow: 1px 1px 2px #ffe3e1;
}
